#form-hotel{
    margin-top: 7em;
    @media (max-width: 768px) {
        margin-top: 10em;
    }
    .fa-image{
        font-size: 5em;
    }
    .btn-primary.btn-file {
        margin-top: 5px;
        color: white;
        background-color: #ff8302;
        border-color: #ff8302;
        height: 40px;
    }
    .list-group{
        height: 400px;
        overflow: auto;
    }
    .btn-file input[type=file] {
        width: 60px;
        background-color: #ff8302;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    .amenities-select{
        padding: 3px;
    }
}